<h1>Service Requests</h1>
<div class="stdcontainer">
  <%= datagrid_table(@service_requests_grid) %>
</div>
<div class="row stdcontainer">
    <% @areas.each do |area| %>
      <div class="col-md-3">
        <h3><%= link_to simple_format(area.name), area %></h3>
        <div class="list-group">
          <% Initiative.where(area_id: area.id).each do |initiative| %>
            <%= link_to initiative.name, initiative,
             class: "list-group-item list-group-item-action" %>
          <% end %>
        </div>
      </div>
    <% end %>
</div>
