<% provide(:title, 'New Service Request') %>
<div id="initiative">
  <div class="stdcontainer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h2 id="show-title">Service Request</h2>
        </div>
      </div>
      <div class="row">
        <p>Here you can make a request to change any of the details you see on your <%= link_to 'profile page', current_user %>.
        Clearly specify the item you would like to change and the value you would like it changed to. For example: "I would like my
        telephone number changed to '0123456789' and my email changed to 'example@example.com'." An admin will receive this
        request and make the appropriate changes.</p><br>
        <div class="col-md-10 col-md-offset-1">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
