<% provide(:title, 'Medical Conditions') %>
<div id="indexcontainer">
  <h1>Medical Conditions</h1>

  <div class="stdcontainer">
    <%= datagrid_form_for @medical_conditions_grid, url: medical_conditions_path %>

    <%= link_to "<i class='glyphicon glyphicon-plus'></i> New".html_safe, new_medical_condition_path, class: 'btn btn-default new-btn' %>

    <%= datagrid_table(@medical_conditions_grid) %>
    <%= will_paginate @medical_conditions_grid.assets %>

  </div>
</div>
