<% provide(:title, 'Meetings') %>
<div id="indexcontainer">
  <h1>Meetings</h1>

  <div class="stdcontainer">
    <ul class="areas">
      <% @meetings.each do |meeting| %>
          <li>
            <h3><%= link_to meeting.datetime, meeting %></h3>
          </li>
      <% end %>
    </ul>
  </div>
</div>
