<% provide(:title, @meeting.datetime) %>
<div id="meeting">
  <h1>
    <%= @meeting.datetime.strftime("%B %d, %Y - %H:%M") %>
  </h1>
  <div class="stdcontainer">
    <% if @meeting.attendances.count != 0 %>
      <% @users.each do |user| %>
          <h3><%= link_to user.name, user %></h3>
      <% end %>
    <% else %>
      <% @initiative.users.each do |user| %>
        <h3><%= user.name %></h3>
      <% end %>
    <% end %>
  </div>
</div>
