<% provide(:title, @meeting.datetime) %>
<div id="meeting">
  <h1>
    <%= @meeting.datetime.strftime("%B %d, %Y - %H:%M") %>
  </h1>
  <div class="stdcontainer">
    <p>
      This is a test.
    </p>
  </div>
</div>
