<% provide(:title, @meeting.datetime) %>
<div id="meeting">
  <h1>
    <%= @meeting.datetime.strftime("%B %d, %Y - %H:%M") %>
  </h1>
  <div class="stdcontainer">
    <% @users.each do |user| %>
        <h3><%= link_to user.name, user %></h3>
    <% end %>
  </div>
</div>
