<footer class="footer">
  <small>
    The <a href="http://bhcmachars.blogspot.co.uk/">Building Healthy Communities</a>
    by <a href="http://www.gla.ac.uk">TeamN</a>
  </small>
  <nav>
    <ul>
      <% if logged_in? %>
        <li><%= link_to "Profile", current_user %></li>
      <% end %>
      <% if current_page?(login_path) %>
        <li><%= link_to "Contact", contact_path %></li>
      <% end %>
      <li><a href="http://bhcmachars.blogspot.co.uk/">Building Healthy Communities</a></li>
    </ul>
  </nav>
</footer>
