<footer class="footer">
  <small>
    The <a href="http://bhcmachars.blogspot.co.uk/">Building Healthy Communities</a>
    by <a href="http://www.gla.ac.uk">TeamN</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://bhcmachars.blogspot.co.uk/">Building Healthy Communities</a></li>
    </ul>
  </nav>
</footer>