<footer class="footer">
  <small>
    The Building Healthy Communities
    by <a href="http://www.gla.ac.uk">TeamN</a>
  </small>
  <nav>
    <ul>
      <% if current_page?(login_path) %>
        <li><%= link_to "Contact", contact_path %></li>
      <% end %>
      <li>Building Healthy Communities</li>
    </ul>
  </nav>
</footer>
