<footer class="footer">
  <small>
    The Building Healthy Communities
    by <a href="http://www.gla.ac.uk">TeamN</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li>Building Healthy Communities</li>
    </ul>
  </nav>
</footer>
