<style>
  h1 {
    text-shadow: 1px 1px #008000;
  }
</style>
<% provide(:title, 'Initiatives') %>
<div id="indexcontainer">
  <h1><em>Initiatives</em></h1>

  <div class="stdcontainer">
    <ul class="areas">
      <% @initiatives.each do |initiative| %>
          <li>
            <h3><%= link_to initiative.name, initiative %></h3>
          </li>
      <% end %>
    </ul>
  </div>
</div>
