<% provide(:title, 'New Initiative') %>
<div id="newcontainer">
  <h1>Create a new Initiative</h1>
  <div class="stdcontainer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
