<% provide(:title, 'Questions') %>
<div id="indexcontainer">
  <h1>Questions</h1>

  <div class="stdcontainer">
    <%= datagrid_form_for @questions_grid, url: questions_path %>

    <%= datagrid_table(@questions_grid) %>
    <%= will_paginate @questions_grid.assets %>

  </div>
</div>
