<style>
  h1 {
    text-shadow: 1px 1px #008000;
  }
</style>
<% provide(:title, 'Areas') %>
<div id="indexcontainer">
  <h1><em>Areas</em></h1>

  <div class="stdcontainer">
    <%= datagrid_table(@areas_grid) %>
    <%= will_paginate @areas_grid.assets %>
  </div>
</div>
