<style>
  h1 {
    text-shadow: 1px 1px #008000;
  }
</style>
<% provide(:title, 'Areas') %>
<div id="indexcontainer">
  <h1><em>Areas</em></h1>

  <div class="stdcontainer">
    <ul class="areas">
      <% @areas.each do |area| %>
          <li>
            <h3><%= link_to area.name, area %></h3>
          </li>
      <% end %>
    </ul>
  </div>
</div>
