<% provide(:title, 'Areas') %>
<div id="area">
  <h1>Areas</h1>

  <div class="stdcontainer">
    <ul class="areas">
      <% @areas.each do |area| %>
          <li>
            <h3><%= link_to area.name, area %></h3>
          </li>
      <% end %>
    </ul>
  </div>
</div>
