<% provide(:title, 'Edit User') %>
<h1>Update this User</h1>
<div id="initiative">
  <div class="stdcontainer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <%= render 'edit_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
