<% provide(:title, 'Users') %>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script>
      $(document).ready(function(){
          $('.privilege').first().append('<button id="popover" data-trigger="focus" data-toggle="popover" ' +
              'title="Levels of Privileges:"' +
              ' data-content="LEVEL 0: LEVEL1: LEVEL2:">?</button>');
          $('#popover').popover({
              html : true

          });
      });
  </script>

</head>

<div id="indexcontainer">
  <h1>Users</h1>

  <div class="stdcontainer">

    <%= datagrid_form_for @users_grid, url: users_path %>

    <%= link_to "<i class='glyphicon glyphicon-plus'></i> New".html_safe, new_user_path, class: 'btn btn-default new-btn' %>

    <%= datagrid_table(@users_grid) %>
    <%= will_paginate @users_grid.assets %>
    <script>

    </script>
  </div>
</div>
