<% provide(:title, 'Users') %>
<div id="indexcontainer">
  <h1>Users</h1>

  <div class="stdcontainer">
    <%= datagrid_form_for @users_grid, url: users_path %>
    <%= datagrid_table(@users_grid) %>
    <%= will_paginate @users_grid.assets %>
  </div>
</div>
