<% provide(:title, 'New User') %>
<div id="initiative">
  <h1>Create a new User</h1>

  <div class="stdcontainer">
    <div class="container-fluid">
      <div class="row">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
