<% provide(:title, 'Volunteer Details') %>
<div id="newcontainer">
  <h1>Volunteer Details</h1>

  <div class="stdcontainer">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= render 'volunteer_form' %>
      </div>
    </div>
  </div>
</div>
