<% provide(:title, @user.name) %>
<div id="initiative">
  <div class="stdcontainer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div align="left">
            <h2>
              Name: <%= @user.name %><br>
            </h2>
            <h2>
              Telephone: <%= @user.telephone %><br>
            </h2>
            <h2>
              DOB: <%= @user.dob %>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 id="meetingtitle">Initiatives</h1>
  <div class="stdcontainer">
    <%= datagrid_table(@initiatives_grid) %>
  </div>
</div>
