<% provide(:title, @user.name) %>
<h1>
  <%= @user.name %><br>
  <%= @user.telephone %><br>
  <%= @user.dob %>
  <% @user.enrolments.each do |e| %>
    <p><%= e.initiative.name %></p>
  <% end %>
</h1>
