<% provide(:title, 'Update Password') %>
<h1>Update This User's Password</h1>
<div id="initiative">
  <div class="stdcontainer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <%= render 'update_password_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
