// Place all the styles related to the attendances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_attendance {
  margin: 0 10px;
  .attendance-name {
    width: 70%;
    float: left;
    h2 {
      margin: 0 !important;
    }
  }

  .attendance-box {
    width: 30%;
    overflow: hidden;
  }
}
