@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, media, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 991px) {
  #logotext {
    display: none;
  }
  #strapline {
    display: none;
  }
}

@media (max-width: 767px) {
  .navbar-nav li {
    font-size: 30px;
    text-align: center;
  }
  .footer {
    small, ul, li {
      display: block;
      float: none;
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }
}

/* universal */

html {
  min-height: 100%; /* Used to ensure background gradient doesn't repeat */
}

body {
  padding-top: 100px;
  background: #0986BD; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #43C6AC, #191654); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #43C6AC, #191654); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.stdcontainer {
  padding-top: 8px;
  padding-bottom: 5px;
  text-align: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);

  h3 {
    color: #118CC8;
  }
  h1 {
    color: #118CC8;
  }
}

.center {
  background-color: white;
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* login */

#login {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
  padding: 10px 10px 30px;
  h1 {
    color: #118CC8
  }
}

/* contact */

#place-img {
  margin-top: 40px;
  margin-bottom: 25px;
  width: 220px;
  height: 140px;
}

#contact, #area, #initiative, #meeting, #medical_condition, #question {

  h1 {
    color: white;
  }
  p {
    color: white;
    text-align: center;
  }
  .stdcontainer {
    margin-top: 40px;
    p {
      color: black;
    }
  }
}

/* home */

#home-strap {
  margin-top: 50px;
  width: 98.8%;
  border-radius: 20px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 3em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  font-size: 2em;
  letter-spacing: -1.5px;
  margin-bottom: 30px;
  font-weight: bold;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#meetingtitle {
  margin-top: 30px;
}

/* header */

header {
  .navbar-nav {
    a {
      line-height: 32px;
    }
  }
}

.navbar-default {
  background-color: white;
  border-bottom: 2px #008ED4;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.2);
}

#logo {
  float: left;
  margin-right: 10px;
  #logotext {
    font-size: 1.7em;
    color: #008ED4;
    letter-spacing: -1px; // Don't think this does anything anymore...
    font-weight: bold;
    &:hover {
      color: #008ED4;
      text-decoration: none;
    }
  }
}

#strapline {
  width: 98.8%;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #d6d6d6;
  color: white;
  a {
    color: white;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* grids */

.datagrid-form {
  margin: 10px 27px 10px -20px;
}

table.datagrid {
  margin: 10px auto;
  border-collapse: collapse;
  border-style: hidden;
  min-width: 95%;
  max-width: 95%;
  th {
    background-color: #0f98ab;
    color: white;
    text-align: center;
  }
  /* styling of the main big table */
  td, th {
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    padding: 5px 10px;

    .order {
      a.asc, a.desc {

        text-decoration: none;
        color: white;
        font-size: 150%;
        font-weight: bold;
      }
    }
    &.ordered {
      &.asc {
        a.asc {
          font-weight: bold;
          color: #d00;
        }
      }
    }
  }

  /* results column -- body */
  .noresults {
    text-align: center;
  }
  tr {
    background-color: white;
  }
}

table.datagrid {
  td, th {
    &.id {
      min-width: 30px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.delete-btn {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  background-color: #c43c35;
  border-color: #c43c35;
  margin-top: 15px;
  margin-bottom: 5px;
  float: right;
}

.edit-btn {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  background-color: #269CE9;
  border-color: #269CE9;
  margin-top: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: right;
}

.right-split {
  .delete-btn, .edit-btn {
    margin-bottom: 10px;
    margin-top: 85px;
    margin-right: 5px;
    float: right;
  }
}

#pop{
  color: white;
  background-color: transparent;
}
.popover-title{
  color: #008ED4;
  font-size: 20px;
}
.popover-content{
  color: #000000;
}

.new-btn {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  background-color: #57a957;
  border-color: #57a957;
  margin-top: -63px;
  margin-bottom: 20px;
  margin-left: 28px;
  padding: 5px 30px 5px 30px;
  font-size: 19px;
  float: left;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.17512156);
}

.archive-btn {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  background-color: #8a8a5c;
  border-color: #8a8a5c;
  margin-bottom: 10px;
  margin-top: 85px;
  margin-right: 10px;
  float: right;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.17512156);
}

.password-btn {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  background-color: #3366ff;
  border-color: #3366ff;
  margin-top: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: right;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.17512156);
}

.new-session-btn {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  background-color: #57a957;
  border-color: #57a957;
  margin-bottom: 9px;
  margin-top: 83px;
  margin-right: 5px;
  float: right;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.17512156);
}

.enrol-btn {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  background-color: #57a957;
  border-color: #57a957;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.17512156);
}

.funder-btn {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  background-color: #00802b;
  border-color: #00802b;
  margin-bottom: 10px;
  margin-top: 85px;
  margin-right: 5px;
  float: right;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.17512156);
}

.condition-btn {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  background-color: #ff6600;
  border-color: #ff6600;
  margin-bottom: 10px;
  margin-top: 85px;
  margin-right: 5px;
  float: right;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.17512156);
}

.submit-btn {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  background-color: #337AB7;
  border-color: #337AB7;
  width: 50%;
  margin-bottom: 10px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.17512156);
}

.form-submit-btn {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  background-color: #337AB7;
  border-color: #337AB7;
  width: 60%;
  margin: 20px 0;
}

.enrolment-btn {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  background-color: #9933ff;
  border-color: #9933ff;
  margin-bottom: 10px;
  margin-top: 85px;
  margin-right: 5px;
  float: right;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.17512156);
}

.volunteer-btn {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  background-color: #ff3399;
  border-color: #ff3399;
  margin: 20px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.feedback-btn {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  background-color: #8B7D6B;
  border-color: #8B7D6B;
  margin-left: 15px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.17512156);
}

.leave-feedback-btn {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  background-color: #57a957;
  border-color: #57a957;
  margin-bottom: 20px;
  float: left;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.17512156);
}

.CSV {
  color: #fff;
  background-color: #3366ff;
  border: 1px solid #3366ff;
  /* box adjustments */
  border-radius: 4px;
  font-size: 17px;
  padding: 7px 30px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.17512156);
}

.CSV:hover {
  color: black;
  background-color: white;
  border: 1px solid grey;
  text-decoration: none;
}

.CSV-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  border-style: hidden;
  border-radius: 4px;
  background-color: #e8fafd;
  color: black;
  text-align: left;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

.form-column {
  border-radius: 5px;
  background-color: #EBEDED;
  border: 1px solid #afb6b6;
  -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,.3);
  -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,.3);
  box-shadow: 0 0 4px 1px rgba(0,0,0,.3);
  margin: 20px 10px;
  padding: 10px;
  h4 {
    text-align: left;
    font-weight: bold;
  }
}

.datagrid-filter {
  label {
    width: 20%;
    letter-spacing: 1.5px;
  }
  .string_filter, .integer_filter, .date_filter, .boolean_filter {
    width: 79%;
    box-sizing: border-box;
    border: 2px solid #0f98ab;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-size: 30px 30px;
    background-position: 8px 8px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 50px;
  }
  .to {
    float: right;
    margin-right: 4px;
  }
  .boolean_filter {
    margin-bottom: 20px;
  }
}

.datagrid-submit {
  background-color: #0f98ab;
  border: 1px solid #0f98ab;
  color: white;
  text-align: center;
  font-size: 20px;
  width: 65%;
  margin-left: 178px;
  padding: 3px 0 4px 0;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.17512156);
}

.datagrid-submit:hover {
  background-color: $gray-medium-light;
  color: black;
  border: 1px solid grey;
}

/* reset button */
.datagrid-reset {
  color: white;
  background-color: #c43c35;
  border: 1px solid #c43c35;
  /* box adjustments */
  border-radius: 4px;
  font-size: 19px;
  margin-right: 5px;
  float: right;
  padding: 4px 30px 5px 30px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.17512156);
}

.datagrid-reset:hover {
  background-color: $gray-medium-light;
  color: black;
  border: 1px solid grey;
  text-decoration: none;
}

/* end of reset button */

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Areas index */

#indexcontainer {
  h1 {
    color: white;
  }
}

#newcontainer {
  h1 {
    color: white;
  }
}

#chart-1 {
  margin: 30px 0;
}

#userhome {
  h1 {
    color: white;
  }
}

#userhomecontainer {
  .text-center {
    text-align: center;
  }
  h1 {
    color: #118CC8;
  }
  h2 {
    font-size: 25px;
    text-align: left;
    color: black;
  }

  #volunteer-list {
    margin-top: 50px;
  }
  #details {
    margin-left: 50px;
    h4 {
      text-align: left;
    }
  }
  .row {
    margin-bottom: 20px;
  }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

.edit-modal-content {
    background-color: #fefefe;
    margin: 120px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    padding-bottom: 10px;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.tt-input,
.tt-hint {
    width: 100%;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-input {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu {
    width: 100%;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  background-color: #bfbfbf;
}

.twitter-typeahead {
  width: 100%;
  margin-bottom: 20px;
}

.scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}

#volunteer-reminder {
  margin-top: 5px;
}

#show-title {
  font-size: 50px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 0;
}
#show-sub-title {
  font-size: 25px;
  font-weight: 600;
  color: #333333;
  float: left;
}

#info-table {
  width: 100%;
  tr {
    border-bottom: 1px solid #bfbfbf;
    border-top: 1px solid #bfbfbf;
    border-collapse: collapse;
    td, th {
      text-align: left;
      padding: 10px 0 10px 10px;
      font-weight: 600;
      icon {
        margin-right: 8px;
      }
    }
    td:nth-child(odd) {
      color: #595959;
    }
  }
  tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
}

.volunteer-table {
  margin-top: 16px;
}

#graph-title {
  font-size: 25px;
  font-weight: 600;
  color: #333333;
  text-align: center;
}

.buttons-container {
  padding: 0;
}

.feedback-due {
  margin-top: 30px;
  overflow: hidden;
  width: 100%;
  h2 {
    width: 100%;
  }
}

.info-container {
  margin-top: 6px;
  margin-bottom: 20px;
  margin-right: 10px;
  border: 1px solid #bfbfbf;
  background-color: #f2f2f2;
  h2 {
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 30px;
    margin-right: 20px;
    color: #333333;
  }
  #show-details-title {
    border-bottom: 1px solid #bfbfbf;
    font-size: 25px;
    padding-bottom: 5px;
  }
}
