// Place all the styles related to the feedbacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.feedbackcontainer {
  padding-top: 8px;
  margin-top: 20px;
  padding-bottom: 10px;
  background-color: white;
  border-bottom: 1px solid #61BB46;
  font-size: 17px;

  h{
    text-align: left;
    display: inline;
    color: dimgrey;
  }

  h5{
    font-size: 20px;
    color:black;
  }

  .table-striped{
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 20px;
  }
  .table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
    background-color: #abe8df;
  }

  .radio-inline {
    display: inline-block !important;
    float: left;
    position: relative;
  }
}

