// Place all the styles related to the feedbacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feedbackcontainer {
  margin-top: 15px;
  padding-bottom: 10px;
  background-color: white;
  border-bottom: 1px solid #61BB46;
  font-size: 17px;

  h3 {
    font-size: 25px;
    margin-bottom: 2px;
    margin-top: 1px;
    text-align: center;
  }
  h4 {
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 2px;
    text-align: left;
  }
}