// Place all the styles related to the feedbacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feedbackcontainer {
  margin-top: 20px;
  padding-bottom: 10px;
  background-color: white;
  border-bottom: 1px solid #61BB46;
  font-size: 17px;

  h2{
    text-align: left;
    display: inline;

  }

  h4{
    text-align: center;
  }
  .radio-inline{
    display: inline-block;
    text-align:center;
  }

  .table{
    margin-bottom: 0px;
  }
}

