// Place all the styles related to the ServiceRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.delete-btn2 {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  background-color: #c43c35;
  border-color: #c43c35;
  float: none;
}