<% provide(:title, 'New User Funder') %>
<% @user = User.find(params[:user_id]) %>
<div id="newcontainer">
  <h1>Fund User</h1>
  <div class="stdcontainer">
    <h4>Please select a funder for<b><%= @user.name %></b></h4><br>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= render 'add_funder_form' %>
      </div>
    </div>
  </div>
</div>
