<% provide(:title, 'New Initiative Funder') %>
<% @initiative = Initiative.find(params[:initiative_id]) %>
<div id="newcontainer">
  <h1>Fund Initiative</h1>
  <div class="stdcontainer">
    <h4>Please select the funder <b><%= @initiative.name %></b></h4><br>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= render 'add_funder_form' %>
      </div>
    </div>
  </div>
</div>
