<% provide(:title, Funder) %>

<div id="initiative">
  <h1>Funders</h1>
  <div class="stdcontainer">
    <% @funders.each do |funder| %>
        <h3><%= link_to funder.name, funder %></h3>
    <% end %>
  </div>
</div>