<% provide(:title, 'New Feedback') %>
<div id="newcontainer">
  <h1>Create a new feedback</h1>

  <td class="feedbackcontainer">
    <table class="table table-striped">
      <tbody>
      <tr>
        <td>
          <%= render 'form' %>
        </td>
      </tr>
      </tbody>
    </table>
</div>
</div>