<% provide(:title, 'New Feedback') %>
<div id="initiative">
  <div class="stdcontainer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h2 id="show-title">Feedback</h2>
        </div>
      </div>
      <div class="row">
        <p>Please take a few moments to provide us with some important feedback about your feelings. This information would be used to improve your journey to our programmes.</p><br>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
