<% provide(:title, @feedback.id) %>
<div id="initiative">
  <h1>Feedback</h1>
  <div class="feedbackcontainer">
    <table class="table table-striped">
      <tbody>
        <% @feedback.answers.sort.each do |answer| %>
          <tr>
            <td>
              <h3><%= answer.question.sort %>. <%= answer.question.question %></h3>
            </td>
            <td>
             <h3><%= answer.response %></h3>
           </td>

      <% end %>
      </tr>
      </tbody>
    </table>
  </div>
</div>
