<% provide(:title, @feedback.id) %>
<div id="initiative">
  <h1>Feedback</h1>
  <div class="feedbackcontainer">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>
            <h3>Question :</h3>
          </td>
          <td>
            <h3>
              <h3>Answer :</h3>
            </h3>
          </td>
        </tr>
      </thead>
      <tbody>
        <% @feedback.answers.sort.each do |answer| %>
          <tr>
            <td>
              <%= answer.question.sort %>. <%= answer.question.question %>
            </td>
            <td>
             <%= answer.response %>
           </td>

      <% end %>
      </tr>
      </tbody>
    </table>
  </div>
</div>
