<% provide(:title, @feedback.id) %>
<div id="initiative">
  <div class="stdcontainer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h2 id="show-title">Feedback - <%= @feedback.created_at.strftime('%d/%m/%Y') %></h2>
        </div>
      </div>
      <div class="row">
        <p>TBD</p><br>
      </div>
    </div>
  </div>
  <div class="stdcontainer">
    <div class="container-fluid">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <td class="col-md-8">
            <h5>Question:</h5>
          </td>
          <td class="col-md-4">
            <h5>Your Answer:</h5>
          </td>
        </tr>
        </thead>
        <tbody>
      <% @feedback.answers.sort.each do |answer| %>
          <tr>
            <td class="col-md-8"><h><%= answer.question.question %></h></td>
            <td class="col-md-4"><%= answer.response %></td>
          </tr>
      <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
