<% provide(:title, @feedback.id) %>
<div id="initiative">
  <h1>Feedback</h1>
  <div class="feedbackcontainer">
    <% @feedback.answers.sort.each do |answer| %>
        <h2><%= answer.question.question %></h2>
        <%= answer.response %>
    <% end %>
  </div>
</div>
