<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<div class="stdcontainer">
  <div class="row">
    <div class="col-md-8">
      <h3>West Wigtownshire (DG9 Area)</h3>
      <p>
         Innistaigh, Dalrymple Street, Stranraer, DG9 7EH<br>
         Murdo Macleod - Community Health Development Worker<br>
         Julie Robertson - Community Health Support Worker<br>
         Tel: 01776 700632
      </p>
    </div>
    <div class="col-md-4">
      <%= image_tag("BHC-westwig.gif", alt: "BHC-westwig", id: "place-img", class: "img-responsive center-block") %>
    </div>
  </div>
</div>
<div class="stdcontainer">
  <div class="row">
    <div class="col-md-8">
      <h3>The Machars (DG8 Area)</h3>
      <p>
        1 George Street, Whithorn, DG8 8NS<br>
        Nathalie Guillaume - Community Health Development Worker<br>
        Samantha O’Malley - Community Health Support Worker<br>
        Dave Groves - Community Health Support Worker<br>
        Tel: 01988 501111
      </p>
    </div>
    <div class="col-md-4">
      <%= image_tag("BHC-machars.jpg", alt: "BHC-machars", id: "place-img", class: "img-responsive center-block") %>
    </div>
  </div>
</div>
<div class="stdcontainer">
  <div class="row">
    <div class="col-md-8">
      <h3>Dumfries &amp; Lower Nithsdale (DG1 and DG2 Area)</h3>
      <p>
        NWRC, College Drive, Lincluden, Dumfries, DG2 0BX<br>
        Sheila Campbell - Community Health Development Worker<br>
        Carolyn Watson - Community Health Support Worker<br>
        Tel: 01387 279279
      </p>
    </div>
    <div class="col-md-4">
      <%= image_tag("BHC-nithsdale.jpg", alt: "BHC-nithsdale", id: "place-img", class: "img-responsive center-block") %>
    </div>
  </div>
</div>
<div class="stdcontainer">
  <div class="row">
    <div class="col-md-8">
      <h3>Upper Nithsdale (DG3 and DG4 Area)</h3>
      <p>
        Nith Buildings, Kelloholm, Sanquhar, DG4 6RX<br>
        Billie Lockhart - Community Health Development Worker<br>
        Tel: 01659 67701
      </p>
    </div>
    <div class="col-md-4">
      <%= image_tag("BHC-uppernithsdale.jpg", alt: "BHC-uppernithsdale", id: "place-img", class: "img-responsive center-block") %>
    </div>
  </div>
</div>
<p>
  <br><br><br>Built by TeamN nhsteamn@googlemail.com
</p>
