<!-- <div class="center jumbotron">
  <h1>Welcome to BHCDatabase</h1>
</div> -->

<div class="row stdcontainer">
  <div class="col-md-3">
    <h3>Dumfries &amp; Lower Nithsdale</h3>
    <div class ="list-group">
      <a href='#' class="list-group-item list-group-item-action">Knitting and Crochet</a>
      <a href='#' class="list-group-item list-group-item-action">Scrimp and sew</a>
      <a href='#' class="list-group-item list-group-item-action">Writing Group</a>
      <a href='#' class="list-group-item list-group-item-action">Crafternoons</a>
      <a href='#' class="list-group-item list-group-item-action">Inkspirations</a>
      <a href='#' class="list-group-item list-group-item-action">Arts and crafts</a>
      <a href='#' class="list-group-item list-group-item-action">Drop in craft</a>
      <a href='#' class="list-group-item list-group-item-action">Tai chi Heathall</a>
      <a href='#' class="list-group-item list-group-item-action">Tai chi  Cumberland day centre</a>
      <a href='#' class="list-group-item list-group-item-action">Tai chi NWRC</a>
      <a href='#' class="list-group-item list-group-item-action">Tai chi Summerhill</a>
      <a href='#' class="list-group-item list-group-item-action">Tai chi Lincluden</a>
      <a href='#' class="list-group-item list-group-item-action">Tai chi Hollywood</a>
    </div>
  </div>
  <div class="col-md-3">
    <h3>West<br> Wigtownshire</h3>
    <div class ="list-group">
      <a href='#' class="list-group-item list-group-item-action">Chair based exercise</a>
      <a href='#' class="list-group-item list-group-item-action">Tai Chi 50+</a>
      <a href='#' class="list-group-item list-group-item-action">SHAWL group</a>
      <a href='#' class="list-group-item list-group-item-action">Tai chi for health</a>
      <a href='#' class="list-group-item list-group-item-action">Tai chi Potters</a>
      <a href='#' class="list-group-item list-group-item-action">Tai chi Phoenix</a>
      <a href='#' class="list-group-item list-group-item-action">SHAWL Group art</a>
    </div>
  </div>
  <div class="col-md-3">
    <h3>The<br> Machars</h3>
    <div class ="list-group">
      <a href='#' class="list-group-item list-group-item-action">Monday Club</a>
      <a href='#' class="list-group-item list-group-item-action">Boccia/NAC</a>
      <a href='#' class="list-group-item list-group-item-action">Dancercise</a>
      <a href='#' class="list-group-item list-group-item-action">Jills of all Trades</a>
      <a href='#' class="list-group-item list-group-item-action">Jills in the Community</a>
      <a href='#' class="list-group-item list-group-item-action">I.O.W. Arts</a>
      <a href='#' class="list-group-item list-group-item-action">Login &amp; Connect</a>
      <a href='#' class="list-group-item list-group-item-action">Gentle Exercise</a>
      <a href='#' class="list-group-item list-group-item-action">IOW Youth</a>
      <a href='#' class="list-group-item list-group-item-action">Vol Drop In</a>
      <a href='#' class="list-group-item list-group-item-action">Scrabble4Fun</a>
    </div>
  </div>
  <div class="col-md-3">
    <h3>Upper<br> Nithsdale</h3>
    <div class ="list-group">
      <a href='#' class="list-group-item list-group-item-action">Singing group</a>
      <a href='#' class="list-group-item list-group-item-action">Qijong</a>
      <a href='#' class="list-group-item list-group-item-action">Monday Munchers</a>
      <a href='#' class="list-group-item list-group-item-action">Hard of hearing</a>
      <a href='#' class="list-group-item list-group-item-action">Tai chi Sanquar</a>
      <a href='#' class="list-group-item list-group-item-action">Lifestyles</a>
      <a href='#' class="list-group-item list-group-item-action">Drop in</a>
      <a href='#' class="list-group-item list-group-item-action">Criss Cross</a>
      <a href='#' class="list-group-item list-group-item-action">Tai Chi Kirconnel</a>
      <a href='#' class="list-group-item list-group-item-action">Walk for Health</a>
    </div>
  </div>
</div>
<div class="row">
    <%= image_tag("BHC Strapline.jpg", alt: "BHC Strapline", id: "home-strap", class: "img-responsive center-block") %>
</div>
