<!-- <div class="center jumbotron">
  <h1>Welcome to BHCDatabase</h1>
</div> -->

<div class="row" id="areainfo">
  <div class="col-md-3">
    <h3>Dumfries &amp; Lower Nithsdale</h3>
    <ul>
      <li>hello</li>
      <li>hello</li>
      <li>hello</li>
      <li>hello</li>
    </ul>
  </div>
  <div class="col-md-3">
    <h3>West<br> Wigtownshire</h3>
    <ul>
      <li>hello</li>
      <li>hello</li>
      <li>hello</li>
      <li>hello</li>
    </ul>
  </div>
  <div class="col-md-3">
    <h3>The<br> Machars</h3>
    <ul>
      <li>hello</li>
      <li>hello</li>
      <li>hello</li>
      <li>hello</li>
    </ul>
  </div>
  <div class="col-md-3">
    <h3>Upper<br> Nithsdale</h3>
    <ul>
      <li>hello</li>
      <li>hello</li>
      <li>hello</li>
      <li>hello</li>
    </ul>
  </div>
</div>
